.container {
  padding: 0 3em;
}

.create {
  background: $secondary-background;
  border-radius: $radius;
  padding: 0.5em 1em;
  margin-top: 1em;
}

.big-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
