.input {
  outline: none;
  border: 1px solid #ccc;
  display: inline-block;
  width: 100%;
  border-radius: $radius;
  padding: 0.5rem;
  font-size: 0.9em;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;

  &.error {
    border: 1px solid $dark-red;
  }

  &-message {
    position: absolute;
    left: calc(100% + 0.5rem);
    width: 15em;
    background-color: $dark-red;
    color: $white;
    font-size: 0.8em;
    border-radius: $radius;
    margin: 0;
    box-shadow: $shadow;
    z-index: 5;

    p {
      margin: 0;
      padding: 0.7em;
    }
  }

  &-wrapper {
    position: relative;
  }
}
