{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "no-plusplus": 0,
    "no-shadow": 0,
    "linebreak-style": 0,
    "no-use-before-define": ["error", {
      "functions": false,
      "variables": false
    }],
    "eqeqeq": ["error", "always", {
      "null": "ignore"
    }],
    "react/prop-types": 0,
    "react/no-unknown-property": 0,
    "react/jsx-filename-extension": 0,
    "react/no-did-mount-set-state": 0,
    "import/prefer-default-export": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "arrow-parens": ["error", "as-needed"],
    "comma-dangle": ["error", "never"]
  },
  "env": {
    "browser": true,
    "es6": true
  }
}
