.background-code {
  position: absolute;
  top: 3.2rem;
  right: 0;
  white-space: pre;
  z-index: -10;
  width: 50%;
  padding: 3em;
  overflow: hidden !important;
  max-height: calc(100vh - 9em);

  .code-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba($primary-background, 0.3);
  }

  code {
    tab-size: 3;
    width: 100%;

    &:after {
      display: inline;
      content: '';
      border-left: 2px solid white;
      font-size: 0.9rem;
      margin-left: 1px;
      vertical-align: middle;
      opacity: 1;
      animation: blink 1.2s infinite;
      font-weight: bold;
    }
  }
}

@keyframes blink {
  0%,
  49%,
  100% {
    opacity: 1;
  }

  50%,
  99% {
    opacity: 0;
  }
}

.code-pink {
  color: #f92672;
}

.code-orange {
  color: #fd971f;
}

.code-light-orange {
  color: #ffd569;
}

.code-yellow {
  color: #e6db74;
}

.code-green {
  color: #a6e22e;
}

.code-dark-green {
  color: #529b2f;
}

.code-blue {
  color: #66d9ef;
}

.code-purple {
  color: #ae81ff;
}

.code-brown {
  color: #75715e;
}

.code-brown-gray {
  color: #49483e;
}

.code-gray {
  color: #888 !important;
}

.code-light-gray {
  color: #ccc;
}

.code-dark-gray {
  color: #282828;
}

.code-ghost-white {
  color: #f8f8f0;
}

.code-light-ghost-white {
  color: #f8f8f2;
}
