.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
}

.navigation {
  height: 3.2rem;
  position: relative;

  a {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    line-height: 3.2rem;
    padding: 0 1.1em;
    color: #aaa;
    text-decoration: none;
    cursor: pointer;

    &.active,
    &:hover {
      color: #fff;
    }
  }

  .title {
    font-weight: bold;
  }
}
