body {
  margin: 0;
  padding: 0;
  background-color: $primary-background;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: $white;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

.relative {
  position: relative;
}

.margin-vertical {
  margin: 2rem 0 !important;
}

.margin-horizontal {
  margin: 0 2rem !important;
}

.margin-right {
  margin-right: 1rem !important;
}

.margin-left {
  margin-left: 1rem !important;
}

.margin-top {
  margin-top: 1rem !important;
}

.margin-bottom {
  margin-bottom: 1rem !important;
}

.pull-right {
  float: right;
}

.button {
  outline: none;
  border: 0;
  color: $white;
  text-decoration: none;
  display: block;
  background-color: rgba($white-title, 0.2);
  padding: 1em;
  cursor: pointer;
  border-radius: $radius;
  box-shadow: $shadow;
  transition: transform 0.1s;
  will-change: transform;
  margin: 0;
  box-sizing: border-box;
  border: 3px solid transparent;

  &:hover {
    background-color: rgba($white-title, 0.4);
    transform: translateY(-2px);
  }

  &:active {
    outline: medium unset;
  }
}

.icon-button {
  position: relative;
  top: 0;
  right: 0;
  cursor: pointer;
  stroke: $white-color;

  &:hover {
    stroke: $white-title;
  }
}

.code {
  margin-left: 3px;
  background-color: rgba(#fff, 0.2);
  border-radius: $radius;
  font-family: monospace;
  padding: 1px 3px;
  display: inline-block;
}

.label {
  display: inline-block;
  user-select: none;
  line-height: 2.25rem;
  font-size: 0.9em;
  padding-right: 1rem;
}

.password-spacing {
  letter-spacing: 2px;
}

.row {
  display: block;
  width: 100%;
  margin: 0.5em 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.icon {
  height: 1.2em;
  vertical-align: middle;
  margin-top: -0.15em;
  margin-right: 0.5em;
}

@for $i from 1 through 12 {
  .col-xs-#{$i} {
    float: left;
    width: $i / 12 * 100%;
  }
}

.code-pink {
  color: #F92672;
}
.code-orange {
  color: #FD971F;
}
.code-light-orange {
  color: #FFD569;
}
.code-yellow {
  color: #E6DB74;
}
.code-green {
  color: #A6E22E;
}
.code-dark-green {
  color: #529B2F;
}
.code-blue {
  color: #66D9EF;
}
.code-purple {
  color: #AE81FF;
}
.code-brown {
  color: #75715E;
}
.code-brown-gray {
  color: #49483E;
}
.code-gray {
  color: #888 !important;
}
.code-light-gray {
  color: #CCC;
}
.code-dark-gray {
  color: #282828;
}
.code-ghost-white {
  color: #F8F8F0;
}
.code-light-ghost-white {
  color: #F8F8F2;
}

.fade-out {
  animation: fade-out 0.1s ease-out forwards;
}

.fade-in {
  animation: fade-out 0.1s ease-in forwards alternate-reverse;
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(0.4);
  }
}
