$pink: #e91e63;
$blue: #03a9f4;

$white: #fff;
$white-color: #666;
$white-title: #282828;

$dark-blue: #5b5ffe;
$dark-red: #f14842;
$dark-green: #2cc352;

$primary-background: #282828; // linear-gradient(165deg, #494A4F, #2A2939);
$secondary-background: #2a2735;
$tertiary-background: #3f3d49;
$quaternary-background: #3c394b;
$radius: 3px;
$shadow: 0 1px 3px 0 rgba(#121212, 0.3);
$shadow-hover: 0 2px 5px 0 rgba(#121212, 0.4);

$primary-blue: #56a2fd;
$primary-orange: #ff6d4a;
