@import './normalize.css';

$black: #121212;
$pink: #e91e63;
$blue: #03a9f4;

$primary-background: #2a2735;
$secondary-background: #3f3d49;
$tertiary-background: #3c394b;
$radius: 3px;
$shadow: 0 2px 5px 1px rgba($black, 0.3);

$primary-blue: #56a2fd;
$primary-orange: #ff6d4a;

body {
  margin: 0;
  padding: 0;
  background: $black;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  overflow: hidden;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
}

.navigation {
  height: 2.8em;
  background: $black;

  a {
    font-size: 1.3em;
    line-height: 2.8rem;
    padding: 0 1em;
    color: #aaa;
    text-decoration: none;

    &.active,
    &:hover {
      color: #fff;
    }
  }

  .title {
    font-weight: bold;
  }
}

.editors {
  flex: 1;

  .monaco-editor {
    flex: 1;
    height: auto !important;
    width: auto !important;
  }
}

.disconnected {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.animate-dots {
  position: relative;
  vertical-align: bottom;
  display: inline-block;
  width: 1px;
  font-family: monospace;
  overflow: hidden;
  width: 24px;

  &:after {
    content: '';
    display: inline-block;
    top: 0;
    right: 0;
    position: absolute;
    height: 100%;
    animation: animate-dots 1.5s ease-in infinite;
    background: black;
  }
}

.container {
  padding: 0 3em;
}

.create {
  background: $secondary-background;
  border-radius: $radius;
  padding: 0.5em 1em;
  margin-top: 1em;
}

.create-blocks {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;

  .block {
    color: #fff;
    text-decoration: none;
    display: block;
    background: $primary-background;
    padding: 1em;
    cursor: pointer;
    border-radius: $radius;
    box-shadow: $shadow;
    transition: transform 0.2s;
    will-change: transform;
    flex-basis: 50%;
    margin: 0 1em 1.5em;

    &:hover {
      background: rgba($primary-background, 0.5);
      transform: translateY(-2px);
    }

    h2 {
      margin: 0;
    }

    p {
      margin: 0.5em 0 0;
    }

    a {
      color: #fff;
      text-decoration: none;
    }
  }
}

@keyframes animate-dots {
  0% {
    width: 26px;
  }
  50% {
    width: 13px;
  }
  100% {
    width: 0px;
  }
}
