.app {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.navigation {
  height: 3.2rem;
  position: relative;

  a {
    outline: none;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    margin: 0 1em;

    > span {
      font-size: 1em;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      line-height: 3.2rem;
      box-sizing: border-box;
      cursor: pointer;
      outline: none;
      position: relative;
      display: block;

      &:hover {
        color: $white;
      }

      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0.2em;
        height: 1px;
        background-color: $blue;
        width: 100%;
        transition: opacity 0.1s;
        opacity: 0;
      }
    }

    &.active {
      color: $white;
    }

    &:focus > span:after {
      opacity: 1;
    }
  }

  .title {
    font-weight: bold;
  }
}
