.editors {
  height: 100%;
  width: 100%;
  display: table;
  table-layout: fixed;

  .editor {
    display: table-cell;
    height: 100%;
  }

  &-container {
    flex: 1;
  }
}

.disconnected {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.animate-dots {
  position: relative;
  vertical-align: bottom;
  display: inline-block;
  width: 1px;
  font-family: monospace;
  overflow: hidden;
  width: 24px;

  &:after {
    content: '';
    display: inline-block;
    top: 0;
    right: 0;
    position: absolute;
    height: 100%;
    animation: animate-dots 1.5s ease-in infinite;
    background-color: #000;
  }
}

@keyframes animate-dots {
  0% {
    width: 26px;
  }
  50% {
    width: 13px;
  }
  100% {
    width: 0px;
  }
}
