.modal {
  position: relative;
  background-color: $white;
  color: $white-color;
  border-radius: $radius;
  box-shadow: $shadow;
  padding: 1em;
  text-align: left;
  display: block;
  flex: 0 0 auto;
  pointer-events: auto;
  width: 400px;

  &-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    text-align: center;

    &.error .modal {
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
      border: 3px solid $dark-red;
    }

    &.success .modal {
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
      border: 3px solid $dark-green;
    }
  }

  .row:nth-child(2) {
    margin: 0;
  }

  &-title {
    margin: 0;
    padding: 0.5rem 0;
    color: $white-title;
  }

  &-bottom.row {
    margin-top: 1rem;
  }

  .button {
    padding: 0.4rem 1rem;
    background-color: $dark-blue;
    float: right;
    transition: background-color 0.1s;
    font-weight: bold;
    font-size: 0.9rem;
    transition: background-color 0.1s, box-shadow 0.1s;
    box-sizing: border-box;

    &:disabled {
      pointer-events: none;
      cursor: default;
      background-color: lighten($dark-blue, 15%);
    }

    &:not(:disabled):hover {
      transform: none;
      background-color: lighten($dark-blue, 5%);
      box-shadow: $shadow-hover;
    }

    &.error {
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
      background-color: $dark-red;

      &:not(:disabled):hover {
        background-color: lighten($dark-red, 5%);
      }

      &:disabled {
        background-color: lighten($dark-red, 15%);
      }
    }

    &.success {
      background-color: $dark-green;

      &:not(:disabled):hover {
        background-color: $dark-green;
      }
    }

    &.outline {
      border: 1px solid #ccc;
      padding: 0.5rem 1rem;
      background-color: transparent;
      color: inherit;

      &:hover {
        background-color: darken(#fff, 5%);
      }
    }
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
