.container.home {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-left: -10em;
  margin-right: 0;
  overflow: hidden;
}

.home-inner {
  display: block;
  width: 30em;
}

.home-title {
  display: block;

  h1 {
    font-size: 3em;
    margin: 0;
  }

  p {
    font-size: 1.3em;
    margin: 1rem 0 4rem;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.2px;
    word-spacing: 4px;

    &:before {
      content: '';
      display: inline-block;
      height: 1px;
      background-color: $white;
      width: 10rem;
      vertical-align: middle;
      margin: 0 1.5rem 0 2.5rem;
    }
  }
}
