.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
  background-color: rgba(#000, 0.7);
  z-index: 50;
  transition: opacity 0.2s ease;
  opacity: 1;
  outline: none;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}
